# Don't accidentally publish your GPG secret keyring
secring.*

# Visual Studio Code
.vscode/*
## All but four files are installation-specific
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Sublime Text
## Workspace files are user-specific
*.sublime-workspace
## Sublime-GitHub package stores user's GitHub tokens here
GitHub.sublime-settings
## SFTP configuration/credentials file
sftp-config.json
## Package control specific files
Package Control.last-run
Package Control.ca-list
Package Control.ca-bundle
Package Control.system-ca-bundle
Package Control.cache/
Package Control.ca-certs/
Package Control.merged-ca-bundle
Package Control.user-ca-bundle
oscrypto-ca-bundle.crt
bh_unicode_properties.cache
## Cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# Kate swap files
.*.kate-swp
.swp.*

# CudaText project files are user-specific
*.cuda-proj

# Project specific files
