Source: netatop
Maintainer: Peter J. Mello <admin@petermello.net>
Section: kernel
Priority: optional
Build-Depends: bzip2, debhelper-compat (= 12), dh-exec, dh-modaliases,
 dkms (>= 2.1.0.0)
Build-Depends-Indep: zlib1g-dev
Standards-Version: 4.3.0
Homepage: https://www.atoptool.nl/netatop.php
Vcs-Browser: https://github.com/Atoptool/atop
Vcs-Git: https://github.com/Atoptool/atop.git
Rules-Requires-Root: no

Package: netatop-dkms
Architecture: all
Multi-Arch: foreign
Depends: atop (>= 2.3.0), dkms (>= 2.1.0.0), dpkg-dev (>= 1.16.1), libc6-dev,
 linux-headers | linux-headers-generic, ${misc:Depends}
Description: Atop network monitoring kernel module (DKMS)
 netatop is a module for Linux kernel versions 4.13 and up that can be loaded to
 gather statistics about the TCP and UDP packets that have been
 transmitted/received per process and per thread, accessible through the
 application, `atop`.
 .
 As soon as atop discovers that this module is active, it shows the columns
 SNET and RNET in the generic screen for the number of transmitted and received
 packets per process. When the 'n' key is pressed, it shows detailed counters
 about the number of packets sent/received via TCP and UDP, the average sizes of
 these packets, and the total bandwidth consumed for input and output per
 process/thread.
 .
 This package contains the source code for the netatop kernel module to be built
 with DKMS. Kernel sources or headers are required to compile this module.
