#!/usr/bin/make -f

DH_VERBOSE = 1
DEB_BUILD_MAINT_OPTIONS = future=+lfs hardening=+all reproducible=+fixfilepath
LC_ALL := C.UTF-8
export DH_VERBOSE DEB_BUILD_MAINT_OPTIONS LC_ALL

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk
include /usr/share/dpkg/pkg-info.mk

PACKAGE_NAME = $(DEB_SOURCE)
PACKAGE_VERSION = $(DEB_VERSION_UPSTREAM)
PACKAGE_DATE = $(shell grep -o -m 1 -P "\w+\s\d+\s\d+:\d+:\d+\s\d+\s\+\d+" changelog | sed -r 's/(...) (..) (..:..:..) (....) (.....)/\1 \2 \4 \3 \5/' | xargs -I{} date -d {} -u +%Y\/%m\/%d\ %H:%M:%S)
DKMS_PACKAGE := $(PACKAGE_NAME)-dkms
DKMS_TARGET := usr/src/$(PACKAGE_NAME)-$(PACKAGE_VERSION)

%:
		dh $@ --with dkms

override_dh_auto_clean:
		rm -f src/dkms.conf src/netatopversion.h
override_dh_auto_configure:
override_dh_auto_build:
		echo "#define	NETATOPVERSION	\"$(PACKAGE_VERSION)\"" \
				>src/netatopversion.h
		echo "#define	NETATOPDATE	\"$(PACKAGE_DATE)\"" >>src/netatopversion.h
		sed -e "s|@@PACKAGE_VERSION@@|$(PACKAGE_VERSION)|" \
				src/dkms.conf.in >src/dkms.conf
override_dh_auto_test:
override_dh_auto_install:
		dh_installdirs -p $(DKMS_PACKAGE) $(DKMS_TARGET)
		dh_install -p $(DKMS_PACKAGE) src/Makefile src/*.[ch] $(DKMS_TARGET)
		find debian/$(DKMS_PACKAGE)/usr/src -type f -perm -5 -print0 \
				2>/dev/null | xargs -0r chmod a-X
override_dh_dkms:
		dh_dkms -p $(DKMS_PACKAGE) -V $(PACKAGE_VERSION) -- src/dkms.conf
